@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */


.purchase-ticket-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
    position: relative; /* To position the overlay */
    background: url('https://img.freepik.com/premium-photo/abstract-red-wave-background-red-color-digital-technology-dots-wave-background_799261-18.jpg') center/cover no-repeat;
}

.purchase-ticket-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Black overlay with 60% opacity */
    z-index: 0; /* Place behind content */
    border-radius: 5px; /* Match parent border-radius */
}

.purchase-ticket-info * {
    position: relative; /* Ensure content stays above the overlay */
    z-index: 1;
}

.purchase-ticket-info > h1:nth-of-type(1){
    border-bottom: 1px solid gray;
    font-weight: 300;
}



.purchase-ticket-info > p:nth-of-type(3){
    font-size: 1.7rem;
    color: red;
}
.purchase-ticket-info > p:nth-of-type(6){
    font-size: 2rem;
    color: red;
}

.description{
    color: rgb(221, 216, 216);
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


.purchase-button {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 1.4rem;
    padding-left: 1em;
    padding-right: 1em;
}

.quantity-button{
    background: none;
    color: white;
}

.purchase-button{
    margin-top: .5em;
    border-radius: 5px;
}
