

.showtimes{
display: flex;
justify-content: center;
flex-wrap:wrap ;
gap: 1em;

}

.showtime{
padding-left: 1.5em;
padding-right: 1.5em;
padding-top: .3em;
padding-bottom: .3em;
background:none;
border: 1px solid white;
color: white;
border-radius: 2px;
font-size: 1.3rem;
}

#showtime-section{
max-width: 70%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 2em;
}

@media screen and (max-width: 700px){
    #showtime-section{
        max-width: 100%;
    }
}
  